In [3]:
# importing Required Libraries and Load Data set

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")

In [4]:
# importing the data set
try:
    df = pd.read_csv("Raw_Data/train.csv")
except:
    df = pd.read_csv("train.csv")

# display the first five row of the dataframe
df.head()

,id,road_type,num_lanes,curvature,speed_limit,lighting,weather,road_signs_present,public_road,time_of_day,holiday,school_season,num_reported_accidents,accident_risk
0,0,urban,2,0.06,35,daylight,rainy,False,True,afternoon,False,True,1,0.13
1,1,urban,4,0.99,35,daylight,clear,True,False,evening,True,True,0,0.35
2,2,rural,4,0.63,70,dim,clear,False,True,morning,True,False,2,0.30
3,3,highway,4,0.07,35,dim,rainy,True,True,morning,False,False,1,0.21
4,4,rural,1,0.58,60,daylight,foggy,False,False,evening,True,False,1,0.56

In [5]:
# data preprocessing and feature engineering
# defining the target variable and feature set

target = "accident_risk"

In [6]:
# separate x and y

X = df.drop(columns=[target])
y = df[target]

In [7]:
numerical_features = [
    "num_lanes",
    "curvature",
    "speed_limit",
    "num_reported_accidents"
]

categorical_features = [
    "road_type",
    "lighting",
    "weather",
    "time_of_day"
]

boolean_features = [
    "road_signs_present",
    "public_road",
    "holiday",
    "school_season"
]

id_column = "id"

In [8]:
# handling the id columns since it is important for the submission.csv file
X_ids = X[id_column]
X = X.drop(columns=[id_column])

In [ ]:
# dealing with boolean ctegories
# converting boolean features to intergers as 0 and 1 represent False and True respectively
X[boolean_features] = X[boolean_features].astype(int)

ðŸ§¾ Preprocessing Summary (Notebook-Ready)

â€œAfter EDA, preprocessing involved separating the target variable, excluding identifiers from training features, converting boolean flags to numeric format, and explicitly categorizing numerical and categorical variables. A trainâ€“validation split was applied to support robust model evaluation while preserving Kaggle submission requirements.â€

In [13]:
# speed risk band
df["speed_risk_band"] =  pd.cut(
    df["speed_limit"],
    bins = [0, 30, 50, 70],
    labels=["low", "medium", "high"]
)

In [16]:
df["high_curvature"] = (df["curvature"] > 0.6).astype(int)

In [17]:
df["lane_complexity"] = df["num_lanes"] * df["curvature"]

In [21]:
df["accident_density"] = df['num_reported_accidents'] / (df['num_lanes'] + 1)

In [19]:
df["poor_visibility"] = df["weather"].isin(["fog", "rain"]).astype(int)

In [22]:
numerical_features += [
    "lane_complexity",
    "accident_density"
]

categorical_features += [
    "speed_risk_band"
]

boolean_features += [
    "high_curvature",
    "poor_visibility"
]

In [24]:
df[["num_reported_accidents", "num_lanes", "accident_density"]].head()

   num_reported_accidents  num_lanes  accident_density
0                       1          2          0.333333
1                       0          4          0.000000
2                       2          4          0.400000
3                       1          4          0.200000
4                       1          1          0.500000

In [ ]:
df[["num_reported_accidents", "accident_risk"]].corr()

                        num_reported_accidents  accident_risk
num_reported_accidents                1.000000       0.213891
accident_risk                         0.213891       1.000000